.nav{
height: 40px;
padding: 20px;
position: fixed;
top: 0;
width: 100%;
z-index: 1;
}

.nav__black{
    background-color: black;
}

.nav__contents{
display: flex;
align-items: center;
justify-content: space-between;
}

.nav__logo{
    cursor: pointer;
width: 120px;
object-fit: contain;
position: fixed;
top: 22px;
left: 30px;
}

.nav__avatar{
    border-radius: 999px;
    cursor: pointer;
/* width: 70px; */
position: fixed;
top: 12px;
right: 30px;
height: 50px;
}