.profilescreen{
    height: 100vh;
    color: white;
    background-color: black;
}

.profile__body{

    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 50%;
    margin: auto;
    padding-top: 3%;
}

.profile__info{
    display: flex;
    align-items: center;
}

.profile__info > img {
height: 100px;
border-radius: 999px;
}

.profile__body > h1 {
font-size: 60px;
margin-bottom: 20px;
font-weight: 400;
border-bottom: 1px solid gray;
}

.profile__details{
    margin-left: 25px;
    flex: 1;
}

.profile__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    
}

.profile__button{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    color: white;
    background-color: #e50914;
    border: none;
    outline-width: none;
    font-weight: 600;
    cursor: pointer;
}