.signupscreen{
background-color: rgba( 0,0,0,0.8);
max-width: 360px;
margin: auto;
padding: 30px 50px;
border-radius: 6px;
}

.signupscreen > form {
display: flex;
flex-direction: column;
}

.signupscreen > form > input {
height: 30px;
padding: 5px 10px;
margin-bottom: 20px;
border: none;
outline: none;
outline-width: none;
border-radius: 3px;
}

.signupscreen > form > button {
    background-color: #e50914;
    border: none;
    outline: none;
    outline-width: none;
    padding: 15px 20px;
    color: white;
    font-weight: 800;
    border-radius: 6px;
}


.gray{
    color: gray;
}

.underline{
    cursor: pointer;
    text-decoration: underline;
}